<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.project.jobnom.member.model.vo.Member" alias="mem"/>
		<typeAlias type="com.project.jobnom.enterprise.model.vo.Enterprise" alias="ent"/>
		<typeAlias type="com.project.jobnom.admin.model.vo.Admin" alias="admin"/>
		<typeAlias type="com.project.jobnom.common.model.vo.Login" alias="login"/>
		<typeAlias type="com.project.jobnom.welcome.model.vo.FAQ" alias="faq"/>
		<typeAlias type="com.project.jobnom.Hire.model.vo.Recruitment" alias="recruitment"/>
		<typeAlias type="com.project.jobnom.welcome.model.vo.Notice" alias="notice"/>
		<typeAlias type="com.project.jobnom.enterprise.model.vo.ApplyAd" alias="ad"/>
		<typeAlias type="com.project.jobnom.enterprise.model.vo.Banner" alias="ban"/>
	</typeAliases>
</configuration>
