<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="enterprise">
	<resultMap type="ent" id="entMap">
		<result column="ent_no" property="entNo"/>
		<result column="ent_email" property="entEmail"/>
		<result column="ent_pw" property="entPw"/>
		<result column="ent_name" property="entName"/>
		<result column="ent_business_no" property="entBusinessNo"/>
		<result column="ent_logo" property="entLogo"/>
		<result column="ent_category1" property="entCategory1"/>
		<result column="ent_category2" property="entCategory2"/>
		<result column="rep_name" property="repName"/>
		<result column="rep_phone" property="repPhone"/>
		<result column="type" property="type"/>
		<result column="ent_site" property="entSite"/>
		<result column="ent_membership" property="entMembership"/>
	</resultMap>
	<resultMap type="res" id="resMap">
		<result column="res_no" property="resNo"/>
		<result column="res_name" property="resName"/>
		<result column="res_phone" property="resPhone"/>
		<result column="res_gender" property="resGender"/>
		<result column="res_birth" property="resBirth"/>
		<result column="res_car" property="resCar"/>
		<result column="res_content" property="resContent"/>
		<result column="res_opencheck" property="resOpenCheck"/>
		<result column="mem_no" property="memNo"/>
	</resultMap>
	<resultMap type="recruitment" id="recMap"> 
		<result column="rec_no" property="recNo"/>
		<result column="ent_no" property="entNo"/>
		<result column="rec_title" property="recTitle"/>
		<result column="rec_startdate" property="recStartdate"/>
		<result column="rec_enddate" property="recEnddate"/>
		<result column="rec_info" property="recInfo"/>
	</resultMap>
	<insert id="enrollEnter" parameterType="ent">
		insert into enterprise values(
									seq_ent_no.nextval,
									#{entEmail},
									#{entPw},
									#{entName},
									#{entBusinessNo},
									#{entLogo},
									#{entCategory1},
									#{entCategory2},
									#{repName},
									#{repPhone},
									default,
									#{entSite},
									default
									)
	</insert>
		<insert id="insertApplyAd" parameterType="ad">
			INSERT INTO RECRUITMENT VALUES (
			seq_rec_no.nextval,
			#{ent_no},
			#{rec_title},
			#{rec_contents},
			#{rec_file1},
			#{rec_file2},
			#{rec_startdate},
			#{rec_enddate},
			#{rec_salary},
			#{rec_info},
			#{rec_prefer},
			#{rec_welfare},
			#{rec_qualification},
			#{rec_people},
			#{rec_career},
			#{rec_order},
			#{rec_type},
			#{rec_other},
			#{rec_category}
			)
	</insert>
	<select id="findOneEnterprise" parameterType="int" resultMap="entMap">
		SELECT * FROM ENTERPRISE WHERE ENT_NO=#{memNo}
	</select>
	
	<update id="updateEnterprise" parameterType="ent">
		UPDATE ENTERPRISE SET
			ENT_PW=TRIM(#{entPw}),
			ENT_LOGO=TRIM(#{entLogo}),
			ENT_CATEGORY1=TRIM(#{entCategory1}),
			ENT_CATEGORY2=TRIM(#{entCategory2}),
			REP_NAME=TRIM(#{repName}),
			REP_PHONE=TRIM(#{repPhone}),
			ENT_SITE=TRIM(#{entSite})
		WHERE ENT_NO=TRIM(#{entNo})
	
	</update>
	<update id="entMembership" parameterType="int">
		UPDATE ENTERPRISE SET
			ENT_MEMBERSHIP='유료회원'
			WHERE ENT_NO=#{memNo}
	</update>
	
	<insert id="insertBanner" parameterType="ban">
		INSERT INTO BANNER VALUES(
			#{ent_no}, #{bann_title}, #{bann_path}, SYSDATE
		)
	</insert>

	<select id="selectSupport" resultType="support" >
		SELECT DISTINCT MEM_NO
		FROM SUPPORT WHERE REC_NO=#{rec_no}
	</select>
	
	<select id ="selectCount" resultType="_int">
		SELECT COUNT(*) FROM RESUME
	</select>
	
	<select id="selectRecruitment" resultType="recruitment" parameterType="_int">
		SELECT * FROM RECRUITMENT WHERE ENT_NO=#{entNo}
	</select>
	
	<select id="selectResume" parameterType="int" resultMap="resMap">
		SELECT * FROM RESUME WHERE MEM_NO=#{memNo}
	</select>
	
	<select id="selectRecruitmentCount" resultType="_int">
		SELECT COUNT(*) FROM RECRUITMENT
	</select>
	
	<delete id="quit">
		DELETE FROM ENTERPRISE WHERE ENT_NO=#{entNo}
	</delete>
	
	<select id="selectReviewList" resultType="review">
		SELECT * FROM REVIEW
	</select>
	
	<select id="selectJoblist" resultType="recruitment">
		SELECT * FROM RECRUITMENT
	</select>
	
	<select id="getC2" resultType="cat2" >
		SELECT * FROM CATEGORY2
	</select>	
	
	<select id="findEmailEnterprise" parameterType="string" resultMap="entMap">
		SELECT * FROM ENTERPRISE WHERE ENT_EMAIL=#{memEmail}
	</select>
	<select id="selectEnterprise" parameterType="_int" resultType="ent">
		select * from ENTERPRISE where ent_no=#{entNo}
	</select>

<!--헤더 기업 버튼 클릭시 리스트 YS  -->
	<select id="companyList" resultType="map">
		<![CDATA[
			select 
				e.ent_no
				,e.ent_category1
				,e.ent_name
				,c.job
				,round(sum(review_satisfaction+review_welfare+review_promotion+review_executive)/(count(review_satisfaction)+count(review_welfare)+count(review_promotion)+count(r.review_executive)),1) as avg
			from enterprise e
			inner join review r
			on (r.ent_no = e.ent_no)
			 inner join category c
        	on (c.cate_no = e.ent_category1)
        	where c.cate_no = 1
			AND ROWNUM <=5
			group by e.ent_no
					,e.ent_category1
					,e.ent_name
					,c.job
			order by avg desc		
					
		]]>
	
	</select>
	
	<select id="companyList2" resultType="map">
		<![CDATA[
			select 
				e.ent_no
				,e.ent_category1
				,e.ent_name
				,c.job
				,round(sum(review_satisfaction+review_welfare+review_promotion+review_executive)/(count(review_satisfaction)+count(review_welfare)+count(review_promotion)+count(r.review_executive)),1) as avg
			from enterprise e
			inner join review r
			on (r.ent_no = e.ent_no)
			 inner join category c
        	on (c.cate_no = e.ent_category1)
        	where c.cate_no = 2
			AND ROWNUM <=5
			group by e.ent_no
					,e.ent_category1
					,e.ent_name
					,c.job
			order by avg desc		
					
		]]>
	
	</select>
	<select id="companyList3" resultType="map">
		<![CDATA[
			select 
				e.ent_no
				,e.ent_category1
				,e.ent_name
				,c.job
				,round(sum(review_satisfaction+review_welfare+review_promotion+review_executive)/(count(review_satisfaction)+count(review_welfare)+count(review_promotion)+count(r.review_executive)),1) as avg
			from enterprise e
			inner join review r
			on (r.ent_no = e.ent_no)
			 inner join category c
        	on (c.cate_no = e.ent_category1)
        	where c.cate_no = 3
			AND ROWNUM <=5
			group by e.ent_no
					,e.ent_category1
					,e.ent_name
					,c.job
			order by avg desc		
					
		]]>
	
	</select>
	<select id="companyList4" resultType="map">
		<![CDATA[
			select 
				e.ent_no
				,e.ent_category1
				,e.ent_name
				,c.job
				,round(sum(review_satisfaction+review_welfare+review_promotion+review_executive)/(count(review_satisfaction)+count(review_welfare)+count(review_promotion)+count(r.review_executive)),1) as avg
			from enterprise e
			inner join review r
			on (r.ent_no = e.ent_no)
			 inner join category c
        	on (c.cate_no = e.ent_category1)
        	where c.cate_no = 4
			AND ROWNUM <=5
			group by e.ent_no
					,e.ent_category1
					,e.ent_name
					,c.job
			order by avg desc		
					
		]]>
	
	</select>
	<select id="companyList5" resultType="map">
		<![CDATA[
			select 
				e.ent_no
				,e.ent_category1
				,e.ent_name
				,c.job
				,round(sum(review_satisfaction+review_welfare+review_promotion+review_executive)/(count(review_satisfaction)+count(review_welfare)+count(review_promotion)+count(r.review_executive)),1) as avg
			from enterprise e
			inner join review r
			on (r.ent_no = e.ent_no)
			 inner join category c
        	on (c.cate_no = e.ent_category1)
        	where c.cate_no = 5
			AND ROWNUM <=5
			group by e.ent_no
					,e.ent_category1
					,e.ent_name
					,c.job
			order by avg desc		
					
		]]>
	
	</select>
	<select id="companyList6" resultType="map">
		<![CDATA[
			select 
				e.ent_no
				,e.ent_category1
				,e.ent_name
				,c.job
				,round(sum(review_satisfaction+review_welfare+review_promotion+review_executive)/(count(review_satisfaction)+count(review_welfare)+count(review_promotion)+count(r.review_executive)),1) as avg
			from enterprise e
			inner join review r
			on (r.ent_no = e.ent_no)
			inner join category c
        	on (c.cate_no = e.ent_category1)
        	where c.cate_no = 6
			AND ROWNUM <=5
			group by e.ent_no
					,e.ent_category1
					,e.ent_name
					,c.job
			order by avg desc		
					
		]]>
	
	</select>
	<!--기업명 클릭시 -YS  -->
	<select id="companyInfo" resultType="map">
		select 
				e.ent_no
				,e.ent_category1
				,e.ent_category2
				,e.ent_name
				,e.ent_logo
				,round(sum(review_satisfaction+review_welfare+review_promotion+review_executive)/(count(review_satisfaction)+count(review_welfare)+count(review_promotion)+count(r.review_executive)),1) as avg
			from enterprise e
			inner join review r
			on (r.ent_no = e.ent_no)
			where e.ent_no = #{entNo}
			group by e.ent_no
					,e.ent_category1
					,e.ent_name
					,e.ent_logo
					,e.ent_category2
					
	</select>
</mapper>
