<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<resultMap type="m" id="m"><!-- resultMap의 id값과 select문의 resultMap키값 연결 -->
		<result column="mem_no" property="memNo"/>
		<result column="mem_email" property="memEmail"/>
		<result column="mem_pw" property="memPw"/>
		<result column="mem_manager_yn" property="memManagerYn"/>
		<result column="mem_check" property="memCheck"/>
		<result column="mem_membership" property="memMembership"/>
		<result column="login_type" property="loginType"/>
	</resultMap>
	<!-- 로그인 -->
	<select id="memberLogin" parameterType="string" resultMap="m">
		select* from member where mem_email=#{memEmail}
	</select>
	<!-- 회원가입(일반회원)  -->
	<insert id="enrollMember" parameterType="m">
		insert into member values (seq_mem_no.nextval,#{memEmail},#{memPw},default,#{memCheck},default,default)
	</insert>
</mapper>
