<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<resultMap type="mem" id="memMap"><!-- resultMap의 id값과 select문의 resultMap키값 연결 -->
		<result column="mem_no" property="memNo"/>
		<result column="mem_email" property="memEmail"/>
		<result column="mem_pw" property="memPw"/>
		<result column="mem_manager_yn" property="memManagerYn"/>
		<result column="mem_check" property="memCheck"/>
		<result column="mem_membership" property="memMembership"/>
		<result column="cate_no2" property="cateNo2"/>
		<result column="cate_no" property="cateNo"/>
	</resultMap>
	<resultMap type="cate" id="cateMap">
		<result column="cate_no" property="cateNo"/>
	</resultMap>
	<resultMap type="cate2" id="cateMap2">
		<result column="cate_no2" property="cateNo2"/>
		<result column="cate_no" property="cateNo"/>
	</resultMap>
	<!-- 로그인 -->
	<select id="memberLogin" parameterType="string" resultMap="memMap">
		select* from member where mem_email=#{memEmail}
	</select>
	<!-- 카테고리리스트 -->
	<select id="selectCategoryList" resultMap="cateMap">
		select * from category
	</select>
	<select id="selectCategoryList2" parameterType="_int" resultMap="cateMap2">
		select * from category2 where cate_no=#{cateNo}
	</select>
	<!-- 회원가입(일반회원)  -->
	<insert id="enrollMember" parameterType="mem">
		insert into member values (
								seq_mem_no.nextval,
								#{memEmail},
								#{memPw},
								default,
								#{memCheck},
								default,
								default,
								#{cateNo2}
								)
	</insert>
	<!-- 마이페이지 -->
	<select id="mypageView" parameterType="_int" resultMap="memMap">
		select * from member where mem_no=#{memNo}
	</select>
	<!-- email변경 -->
	<update id="changeEmail" parameterType="map">
		update member set mem_email = #{memEmail} where mem_no = #{memNo}
	</update>
	<!-- 비밀번호 확인 -->
	<select id="selectPw" parameterType="map" resultMap="memMap">
		select * from member where mem_email = #{memEmail}
	</select>	
	<!-- 비밀번호 변경 -->
	<update id="updatePw" parameterType="map">
		update member set mem_pw=#{password1} where mem_no=#{memNo}
	</update>
	<!-- 이력서 -->
	<select id="selectCategory" parameterType="_int" resultMap="memMap">
		select*from member
			join category2 using(cate_no2)
			join category using (cate_no)
			where mem_no =#{memNo}
	</select>
		
</mapper>









