a:hover{

    color: green;
  }
  a{
    text-decoration: none;
    color:#000000;

  }

body{
    width:  100%
 }
 /* 세션 고정값 */
 section{
     
     width: 80%;
     margin: 0 auto;
     min-height: 100%;
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
 
 }

img{
    width: 100px;
    height: 100px;
}
.job2, .option2{
    display: none;
}
.container{
    padding: 0;
}
/* 마이페이지 헤더회원정보 */
.memberinfo{
    background-color: #fff;
    padding: 52px 26px 10px 0;
    width: 100%;
    margin: 0 auto;
}
.memberinfo-parent{
    border-bottom: 1px #e5e6e9 solid;
}
/* 마이페이지 navbar */
.MPheadmenu{
    width: 70%;
    margin: 0 auto;
}
.MPheadmenu-parent{
    border-bottom: 1px #e5e6e9 solid;
    background-color: #fff;
}
.navbtn{
    background-color: white;
    border: none;
}
.navbtn:hover{
    font-weight: bold;
    color: green;
    border: none;
}



/*바디 전체부분*/
.with{
    width: 80%;
    margin: 0 auto;
}
.withcon{
    padding-left: 0;
}
*{
    font-size: 13px;
}
/* 사이드바 */
.sidebar{
    background-color: #e5e6e9;
}
.sidebar-title{
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #e5e6e9;
    font-weight: bold;
    font-size: 18px;
}
.sidebtn{
    border: none;
    background-color: #e5e6e9;
    padding-bottom: 10px;
}
.sidebtn:hover{
    font-weight: bold;
    color: green;
}
/*바디 메인*/
.maininfo-parent{
    background-color: #e5e6e9;
}
.maininfo{
    padding: 56px 26px 56px 26px;
    width: 80%;
    margin: 0 auto;
}
.maincon{
    margin: 0;
}
.form-gruop{
    padding-bottom: 10px;
}
.with-parent{
    margin-bottom: 100px;
}
.headbar{
    padding-left: 10px;
}


/* ////////////////////////////////////////////////////// */

.activity{
    padding-top: 30px;
    width: 100%;

    height: 500px;
    display: flex;
}
.activityList{
    width: 25%;
    border:solid;
    height: 200px;
    padding: 10px;
    font-size: 18px;
    font:bold;
    margin-bottom:20px ;

  
}
.activityListLine{
	border-bottom: solid;
	padding-top: 10px;
}
.activityListReview{
    display: flex;
     padding-top: 15px;
    padding-left: 20px;
 
}
.activityListCom{
    display: flex;
     padding-top: 15px;
    padding-left: 20px;
}
.activityInfo{
    width: 70%;
    border:solid;
    height: 500px;
    margin-left: 20px;
    padding: 10px;
}



.activityCount1{
padding-left:130px ;

}
.activityCount2{
    padding-left:78px ;
}

.ReviewSmallTitle{
    display: flex;
    padding-top: 20px;
    padding-left: 10px;
}
.ReviewSmallTitle>div{
    padding-left: 70px;

  
}
.ReviewSmallInfo{
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    display: flex;
    
}
.ReviewSmallInfo>div{
    padding-left: 62px;
   
    
}

.reviewImgBtn{
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 12px;
    width: 600px;
    height: 220px;
 background-image: url("../../image/Hire/ll.png");
    background-size: cover;
}
.reviewBtn{
   
    display: flex;
}
.reviewBtnInsert{


    border-radius: 12px;
    right: 0;
    top: 0;
    background: #00c362;
    color: #fff;
    text-align: center;
    width: 250px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 40px;
    margin-left: 80px;


}

.reviewBtnFAQ{
    

    border-radius: 12px;
    right: 0;
    top: 0;
    color:black;
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 40px;
    margin-left: 80px;

}


/* //////////////////////////// *
/


/*팝업창*/

#popup{
  
    display: none; /*숨기기*/
    position: fixed;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.755);

}
.popupAll{
    display: flex;
    
}

#popmenu {

    width: 40%;
    height: 700px;
    background: #fff;
    margin-left: 310px;
    margin-top: 30px;

  
}
.popmenuInsertAll{
    display: flex;
    background: #00c362;
}
.popmenuInsert{
    padding-top: 15px;
    width: 100%;
    height: 50px;

    padding-left: 15px;
    

}
.findingMeDetailCancel{
    border: none;
}
.popmenuInsertClose{
  border-radius: 12px;
    right: 0;
    top: 0;
    background: wihte;
    color: black;
    text-align: center;
    width: 250px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 40px;
    margin-left: 10px;
   

}
.submitByttonBox{
	display: flex;
	
}
.fa-window-close{
    font-size: 30px;
    background: #00c362;
    color: white;
}
.popmenuDetail{
    padding-top: 15px;
    padding-left: 15px;
}

.popmenuEnterprise{
    display: flex;
    padding-top: 25px;
    padding-left: 15px;


}
.popmenuEnterpriseName{
    margin-left: 120px;
    width: 300px;
    height: 35px;

}
.popmenuTital{
    display: flex;
    padding-top: 30px;
    padding-left: 15px;

}

.popmenuTitalName{
    margin-left: 132px;
    width: 300px;
    height: 35px;

}
.popmenuContents{
    display: flex;
    padding-top: 30px;
    padding-left: 15px;
}

.popmenuContentsName{
    margin-left: 132px;
 

}
/*///// 여기서 부터 리뷰별//// */
.companyStar-box{
    display: flex;
    padding-top: 20px;
    padding-left: 15px;
 
}
.blessedStar-box{
    display: flex;
    padding-top: 20px;
    padding-left: 15px;
}
.promotionStar-box{
    display: flex;
    padding-top: 20px;
    padding-left: 15px;
}
.executiveStar-box{
    display: flex;
    padding-top: 20px;
    padding-left: 15px;
    
}

.companyTitle{
    width: 150px;

} 
.blessedTitle{
    width: 150px;

}
.promotionTitle{
    width: 150px;

}
.executiveTitle{
    width: 150px;

}



.companyStar {
    background-image: url("../../image/Hire/starGreen.png");
	background-size: cover;
	width: 40px;
    height: 40px;
    margin-left: 20px;
    

}
.blessedStar {
    background-image: url("../../image/Hire/starGreen.png");
	background-size: cover;
	width: 40px;
    height: 40px;
    margin-left: 20px;
}
.promotionStar {
     background-image: url("../../image/Hire/starGreen.png");
	background-size: cover;
	width: 40px;
    height: 40px;
    margin-left: 20px;

}
.executiveStar {
    background-image: url("../../image/Hire/starGreen.png");
	background-size: cover;
	width: 40px;
    height: 40px;
    margin-left: 20px;

}

.companyStar.on{
     background-image: url("../../image/Hire/starGreenOn.png");
  }

.blessedStar.on{
     background-image: url("../../image/Hire/starGreenOn.png");
}
.promotionStar.on{
    background-image: url("../../image/Hire/starGreenOn.png");
}
.executiveStar.on{
    background-image: url("../../image/Hire/starGreenOn.png");
}


/*///// 여기까지 리뷰별//// */


.GradeboxSubmit{
  
    border-radius: 12px;
    right: 0;
    top: 0;
    background: #00c362;
    color: #fff;
    text-align: center;
    width: 250px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 40px;
    margin-left: 60px;

}





/* 여기는 리뷰 옆 주의사항 */
#popmenuInfo{
    width: 20%;
    height: 400px;
    background: #fff;

    margin-left: 50px;
    margin-top: 30px;
}
.popmenuInfoTitle{
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.popmenuInfoContents{

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

