<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="search">
	
	<resultMap type="ent" id="entMap">
		<result column="ent_name" property="entName"/>
		<result column="ent_no" property="entNo"/>
		
	</resultMap>

	<!--기업 검색결과 조회  -->
	<select id="selectSearchResult" resultType="map">
		<![CDATA[
			select 
				e.ent_no
				,e.ent_category1
				,e.ent_logo
				,e.ent_name
				,round(sum(review_satisfaction+review_welfare+review_promotion+review_executive)/(count(review_satisfaction)+count(review_welfare)+count(review_promotion)+count(r.review_executive)),1) as avg
			from enterprise e
			inner join review r
			on (r.ent_no = e.ent_no)
			where lower(e.ent_name) 
			like '%'||#{keyword}||'%' 
			AND ROWNUM <=5
			group by e.ent_no
					,e.ent_category1
					,e.ent_name
					,e.ent_logo
		]]>
	</select>
	
	<!--채용공고 검색 결과 조회  -->
	<select id="selectSercjResultRec" resultType="map">
	<![CDATA[
         select 
            e.ent_no
            ,e.ent_category1
            ,e.ent_name
            ,rec.rec_title
            ,rec.rec_contents
            ,rec.rec_type
            ,rec.rec_salary
            ,rec.rec_info
            ,rec.rec_qualification
            ,rec.rec_other
            ,rec.rec_career
            ,rec.rec_no
            ,e.ent_logo
            ,fav.mem_no
            ,fav.rec_no
            ,round(sum(review_satisfaction+review_welfare+review_promotion+review_executive)/(count(review_satisfaction)+count(review_welfare)+count(review_promotion)+count(r.review_executive)),1) as avg
         from enterprise e
         inner join review r
         on (r.ent_no = e.ent_no)
         inner join recruitment rec
         on (e.ent_no = rec.ent_no)
         inner join interestedrecruitment fav
         on (rec.rec_no = fav.rec_no)
         where lower(rec.rec_title) 
         like '%'||#{keyword}||'%' 
         or lower(e.ent_name) like '%'||#{keyword}||'%'
         AND ROWNUM <=5
         group by e.ent_no
               ,e.ent_category1
               ,e.ent_name
               ,rec.rec_title
               ,rec.rec_contents
               ,rec.rec_type
               ,rec.rec_salary
               ,rec.rec_info
               ,rec.rec_qualification
               ,rec.rec_other
               ,rec.rec_career
               ,rec.rec_no
           	   ,e.ent_logo
           	   ,fav.mem_no
            	,fav.rec_no
      ]]>
      </select>
      <!--기업 더보기 조회  -->
      <select id="searchResultMore" resultType="map">
      	SELECT
			e.ent_no
			,e.ent_name
			,e.ent_logo
			,e.ent_category1
			,e.ent_category2
			,cOUNT(*) OVER () count
			,round(sum(review_satisfaction+review_welfare+review_promotion+review_executive)/(count(review_satisfaction)+count(review_welfare)+count(review_promotion)+count(r.review_executive)),1) as avg
		FROM enterprise e
		inner join review r
		on (r.ent_no = e.ent_no)
		group by e.ent_no
			,e.ent_name
			,e.ent_logo
			,e.ent_category1
			,e.ent_category2
		order by avg desc
      </select>
      <!--기업 더보기 페이징 바  -->
      <select id="selectCount" resultType="_int">
	 SELECT COUNT(*) FROM enterprise
	</select>
	
	<!--기업 더보기 카테고리별 ajax  -->
	<select id="ajaxCategoryList" resultType="map" parameterType="hashmap" >
	     SELECT
			e.ent_no
			,e.ent_name
			,e.ent_logo
			,e.ent_category1
			,e.ent_category2
			,cOUNT(*) OVER () count
			,round(sum(review_satisfaction+review_welfare+review_promotion+review_executive)/(count(review_satisfaction)+count(review_welfare)+count(review_promotion)+count(r.review_executive)),1) as avg
		FROM enterprise e
		inner join review r
		on (r.ent_no = e.ent_no)
		<where>
			<if test="value != null">
				e.ent_category1 = #{value}
			</if>
			<if test="value == null">
				or 1=1
			</if>
		</where>
	    
		group by e.ent_no
			,e.ent_name
			,e.ent_logo
			,e.ent_category1
			,e.ent_category2
		order by avg desc
	</select>
	
	<!--기업 더보기 카테고리별 ajax   -->
	<select id="ajaxCategoryList2" resultType="map" parameterType="hashmap">
		SELECT
			e.ent_no
			,e.ent_name
			,e.ent_logo
			,e.ent_category1
			,e.ent_category2
			,cOUNT(*) OVER () count
			,round(sum(review_satisfaction+review_welfare+review_promotion+review_executive)/(count(review_satisfaction)+count(review_welfare)+count(review_promotion)+count(r.review_executive)),1) as avg
		FROM enterprise e
		inner join review r
		on (r.ent_no = e.ent_no)
		group by e.ent_no
			,e.ent_name
			,e.ent_logo
			,e.ent_category1
			,e.ent_category2
		order by avg desc
	</select>
	<!--기업 팔로잉  -->
	<insert id="entFollow" parameterType="java.util.HashMap">
		INSERT INTO ENTERPRISEFOLLOW VALUES(SEQ_FAV_NO.NEXTVAL,#{memNo},#{entNo})
	
	</insert>
	<!--기업 팔로잉 리스트  -->
	<select id="entFollowCheck" resultType="map">
		select * 
		from ENTERPRISEFOLLOW
	
	</select>
	<!--기업 언팔로우  -->
	<delete id="entUnFollow" >
		DELETE ENTERPRISEFOLLOW
        	WHERE mem_no=#{memNo}
        	AND ent_no=#{entNo}
	</delete>
	
	<!--검색창 자동 완성1-1  -->
	<select id="selectOneRecruitment"  parameterType="string" resultMap="entMap">
	 	
	 	select ent_Name 
	 	from enterprise
	 	where lower(ent_Name)
	 	like '%'||#{key}||'%'
	
	</select>
	<!--검색창 자동 완성 1-2  -->
	<select id="searchAuto2"  parameterType="string" resultMap="entMap">
	 	
	 	select ent_Name 
	 	from enterprise
	 	where lower(ent_Name)
	 	like '%'||#{key}||'%'
	
	</select>
	
	<!--메인화면 리뷰 리스트  -->
	<select id="indexReviewList" resultType="map">
	<![CDATA[
			select 
				e.ent_no
				,e.ent_category1
				,e.ent_logo
				,e.ent_name
				,r.review_title
				,r.RE_ENROLL_DATE
				,round(sum(review_satisfaction+review_welfare+review_promotion+review_executive)/(count(review_satisfaction)+count(review_welfare)+count(review_promotion)+count(r.review_executive)),1) as avg
			from enterprise e
			inner join review r
			on (r.ent_no = e.ent_no)
			where ROWNUM <=5
			group by e.ent_no
					,e.ent_category1
					,e.ent_name
					,e.ent_logo
					,r.review_title
					,r.RE_ENROLL_DATE
			order by r.RE_ENROLL_DATE desc
					
		]]>
	
	</select>
	
	<!--bannerList  -->
	<select id="bannerList" resultType="map">
	<![CDATA[
		select *
		from banner b
		inner join enterprise e
		on (b.ent_no = e.ent_no)
		where ROWNUM <=7
		order by UPLOADDATE asc
			]]>
	</select>
	
	<!--배너 삭제  -->
	<delete id="deleteBanner">
		<![CDATA[
		DELETE banner
		WHERE sysdate > (uploaddate +30)
		
		]]>
	</delete>
	
	<!--ajax 카테고리  페이징바 -->
	<select id="selectCountCate" resultType="_int">
		select
			count(*)
		from enterprise
		<where>
			<if test="value != null">
				ent_category1 = #{value}
			</if>
			<if test="value == null">
				or 1=1
			</if>
		</where>
	
	</select>
</mapper>
