<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hire">
	<!--  <resultMap type="recruitment" id="recruitmentMap">
		<result column="REC_NO" property="rec_no"/>
		<result column=ENT_NO property="ent_no"/>
		<result column="REC_TITLE" property="rec_title"/>
		<result column="REC_CONTENTS" property="rec_content"/>
		<result column="REC_FILE1" property="rec_file1"/>
		<result column="REC_FILE2" property="rec_file2"/>
		<result column="REC_STARTDATE" property="rec_startdate"/>
		<result column="REC_ENDDATE" property="rec_enddate"/>
		<result column="REC_SALARY" property="rec_salary"/>
		<result column="REC_INFO" property="rec_info"/>
		<result column="REC_PREFER" property=rec_prefer/>
		<result column="REC_WELFARE" property="rec_welfare"/>
		<result column="REC_QUALIFICATION" property="rec_qualification"/>
		<result column="REC_PEPOLE" property="rec_pepole"/>
		<result column="RE_TYPE" property="rec_type"/>
	
	</resultMap>  -->
	

	<insert id="insertReview" parameterType="map">
		INSERT INTO REVIEW
		VALUES(seq_review_no.nextval,#{review_name},#{review_title},#{review_contents},null,#{review_satisfaction},#{review_welfare},#{review_promotion},#{review_executive},SYSDATE)
	</insert>
	<select id="selectCount" resultType="_int">
	 SELECT COUNT(*) FROM RECRUITMENT 
	</select>
	<select id="HireHomeRecruitmentList" resultType="com.project.jobnom.Hire.model.vo.Recruitment">
		 SELECT * FROM RECRUITMENT 
		<!-- SELECT R.*,(SELECT COUNT(*)
		FROM RECRUITMENT WHERE R.REC_NO=REC_NO) AS
		RECRUITMENT FROM BOARD B
		ORDER BY BOARDDATE DESC -->
	</select>
	
	
	
	
	<select id="reviewStar" resultType="map">
	 	SELECT  ENT_NAME,REVIEW_SATISFACTION 
		FROM REVIEW R 
		JOIN ENTERPRICE E ON (R.ENT_NO = E.ENT_NO)
	</select>
	
	<select id="selectRecruitmentList" parameterType="string" resultType="com.project.jobnom.Hire.model.vo.Recruitment">
			SELECT ENT_NAME,REC_NO,E.ENT_NO,REC_TITLE,REC_CONTENTS,REC_STARTDATE,REC_ENDDATE,REC_SALARY,
			REC_INFO,REC_PREFER,REC_WELFARE,REC_QUALIFICATION,REC_PEPOLE,REC_CAREER,REC_ORDER,REC_TYPE, REP_NAME, REP_PHONE,ENT_LOGO
			FROM RECRUITMENT E 
			JOIN ENTERPRISE R ON (R.ENT_NO = E.ENT_NO)
			WHERE REC_NO=#{rec_no}
	</select>
	
	<select id="selectReviewList" parameterType="string" resultType="java.util.HashMap">
		
		SELECT  R.REC_NO,E.ENT_NO, R.REC_TITLE, ENT_NAME,REVIEW_TITLE,REVIEW_CONTENTS,REVIEW_WRITER, REVIEW_SATISFACTION,
		 REVIEW_WELFARE, REVIEW_PROMOTION , REVIEW_EXECUTIVE
		FROM REVIEW E 
        JOIN RECRUITMENT R ON (E.ENT_NO = R.ENT_NO)
        JOIN ENTERPRISE S  ON (E.ENT_NO = S.ENT_NO)
		WHERE E.ENT_NO=#{ent_no} 
	</select>
	
	
	<select id="anoList" resultType="com.project.jobnom.Hire.model.vo.Recruitment">
	 	SELECT ENT_NAME ,REC_NO,E.ENT_NO,REVIEW_WRITER, REC_TITLE,REC_CONTENTS,REC_STARTDATE,REC_ENDDATE,REC_SALARY,
			REC_INFO,REC_PREFER,REC_WELFARE,REC_QUALIFICATION,REC_PEPOLE,REC_CAREER,REC_ORDER,REC_TYPE, REP_NAME, REP_PHONE,ENT_LOGO
			FROM RECRUITMENT E 
			 JOIN REVIEW S ON (S.ENT_NO = E.ENT_NO)
			JOIN ENTERPRISE R ON (R.ENT_NO = E.ENT_NO)
	</select>
	
	<select id="anoList2" resultType="com.project.jobnom.Hire.model.vo.Recruitment">
		SELECT ENT_NAME ,REC_NO,E.ENT_NO,REVIEW_WRITER,REC_CATEGORY, REC_TITLE,REC_CONTENTS,REC_STARTDATE,REC_ENDDATE,REC_SALARY,
			REC_INFO,REC_PREFER,REC_WELFARE,REC_QUALIFICATION,REC_PEPOLE,REC_CAREER,REC_ORDER,REC_TYPE, REP_NAME, REP_PHONE,ENT_LOGO
			FROM RECRUITMENT E 
			   JOIN REVIEW S ON (S.ENT_NO = E.ENT_NO)
			JOIN ENTERPRISE R ON (R.ENT_NO = E.ENT_NO)
			  WHERE REC_CATEGORY=2
	</select>
	 
</mapper> 
