<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="common">
	<resultMap type="login" id="log">
		<result column="type" property="type"/>
		<result column="mem_no" property="memNo"/>
		<result column="mem_email" property="memEmail"/>
		<result column="mem_pw" property="memPw"/>
	</resultMap>

	<select id="commonLogin" parameterType="map" resultMap="log">
		SELECT * 
		    FROM (
			    SELECT type , MEM_NO ,MEM_EMAIL,MEM_PW FROM MEMBER
			    UNION ALL
			    SELECT type , ENT_NO, ENT_EMAIL,ENT_PW FROM ENTERPRISE
			    UNION ALL
			    SELECT type , ADMIN_NO, ADMIN_EMAIL,ADMIN_PW FROM ADMIN
		    )
		    WHERE mem_email=#{email}
	</select>
	
	<select id="checkDuplicateEmail" parameterType="string" resultMap="log">
		SELECT * 
		    FROM (
			    SELECT TYPE, MEM_NO ,MEM_EMAIL,MEM_PW FROM MEMBER
			    UNION
			    SELECT TYPE, ENT_NO, ENT_EMAIL,ENT_PW FROM ENTERPRISE
			    UNION
			    SELECT TYPE, ADMIN_NO, ADMIN_EMAIL,ADMIN_PW FROM ADMIN
		    )
		    WHERE MEM_EMAIL=#{memEmail}
	</select>
	<delete id="userSecession" parameterType="_int">
		delete from member where mem_no=#{memNo}
	</delete>
	
</mapper>
